

<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from www.shmai.com/preview/pawrex-html/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 09 Sep 2025 14:32:54 GMT -->
<head>
    <meta charset="utf-8">
    <title>Pawrex Template | Homepage</title>
    <!-- Stylesheets -->
    <link href="~/layoutasset/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/layoutasset/plugins/revolution/css/settings.css" rel="stylesheet" type="text/css">
    <!-- REVOLUTION SETTINGS STYLES -->
    <link href="~/layoutasset/plugins/revolution/css/layers.css" rel="stylesheet" type="text/css"><!-- REVOLUTION LAYERS STYLES -->
    <link href="~/layoutasset/plugins/revolution/css/navigation.css" rel="stylesheet" type="text/css">
    <!-- REVOLUTION NAVIGATION STYLES -->
    <link href="~/layoutasset/css/style.css" rel="stylesheet">
    <link href="~/layoutasset/css/responsive.css" rel="stylesheet">
    <!--Color Switcher Mockup-->
    <link href="~/layoutasset/css/color-switcher-design.css" rel="stylesheet">
    <!--Color Themes-->
    <link id="theme-color-file" href="~/layoutasset/css/color-themes/default-theme.css" rel="stylesheet">
    <!--Favicon-->
    <link rel="shortcut icon" href="~/layoutasset/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="~/layoutasset/images/favicon.png" type="image/x-icon">
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="~/layoutasset/js/respond.js"></script><![endif]-->

 
</head>

<body>
    <div class="page-wrapper">
        <!-- Preloader -->
        <div class="preloader"></div>
        <!-- Main Header-->
        <header class="main-header">
            <!--Header Top-->
            <div class="header-top">
                <div class="auto-container">
                    <div class="top-inner">
                        <div class="clearfix">
                            <div class="top-left">
                                <ul class="clearfix">
                                    <li><span class="icon flaticon-map-marker"></span>32 Bell South, Harley St. FL</li>
                                    <li>
                                        <a href="tel:+12345678900">
                                            <span class="icon flaticon-telephone-handle-silhouette"></span>
                                            +(1) 234 567 8900
                                        </a>
                                    </li>
                                    <li>
                                        <a href="mailto:support@pawrex.com">
                                            <span class="icon fa fa-envelope"></span>
                                            support@pawrex.com
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="top-right clearfix">
                                <div class="donate-box">
                                    <a href="donation.html"
                                       class="theme-btn btn-style-one">donate</a>
                                </div>
                                <!--social-icon-->
                                <div class="social-icon">
                                    <ul class="clearfix">
                                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                        <li><a href="#"><span class="fa fa-facebook-square"></span></a></li>
                                        <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                                        <li><a href="#"><span class="fa fa-youtube-play"></span></a></li>
                                        <li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Header-Upper-->
            <div class="header-upper">
                <div class="auto-container clearfix">
                    <div class="pull-left logo-outer">
                        <div class="logo"><a href="index.html"><img src="~/layoutasset/images/logo.png" alt="" title=""></a></div>
                    </div>
                    <div class="pull-right upper-right clearfix">
                        <div class="nav-outer clearfix">
                            <!-- Main Menu -->
                            <nav class="main-menu">
                                <div class="navbar-header">
                                    <!-- Toggle Button -->
                                    <button type="button" class="navbar-toggle" data-bs-toggle="collapse"
                                            data-bs-target=".navbar-collapse">
                                        <span><i class="fa fa-bars"></i></span>
                                    </button>
                                </div>
                                <div class="navbar-collapse collapse clearfix">
                                    <ul class="navigation clearfix">
                                        <li class="current dropdown">
                                            <a asp-controller="Home" asp-action="Index">Home</a>
                                        </li>
                                        <li class="dropdown">
                                            <a asp-controller="Home" asp-action="About">About</a>
                                        </li>
                                        <li class="dropdown">
                                            <a asp-controller="Home" asp-action="Services">Services</a>
                                        </li>
                                        <li class="dropdown">
                                            <a asp-controller="Home" asp-action="Shop">Shop</a>
                                        </li>
                                        <li class="dropdown">
                                            <a asp-controller="Home" asp-action="AddtoCart">AddtoCart</a>

                                        </li>
                                        <li class="dropdown">
                                            <a asp-controller="Home" asp-action="Gallery">Gallery</a>

                                        </li>
                                        <li class="dropdown">
                                            <a asp-controller="Home" asp-action="AdoptPets">AdoptPets</a>

                                        </li>
                                        <li class="dropdown">
                                            <a asp-controller="Home" asp-action="Contact">Contact</a>
                                           
                                        </li>
                                        <li class="dropdown">
                                            <a href="contact.html">Contact</a>
                                           
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                            <!-- Main Menu End-->
                            <div class="outer-box">
                                <!--Search Box-->
                                <div class="search-box-outer">
                                    <div class="dropdown">
                                        <button class="search-box-btn" type="button" id="dropdownMenu3" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="fa fa-search"></span>
                                        </button>
                                        <ul class="dropdown-menu pull-right search-panel menu-search" aria-labelledby="dropdownMenu3">
                                            <li class="panel-outer">
                                                <div class="form-container">
                                                    <form method="post" action="https://www.shmai.com/preview/pawrex-html/blog.html">
                                                        <div class="form-group">
                                                            <input type="search" name="field-name" value=""
                                                                   placeholder="Search Here" required>
                                                            <button type="submit" class="search-btn">
                                                                <span class="fa fa-search"></span>
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Header Upper-->
            <!--Sticky Header-->
            <div class="sticky-header">
                <div class="auto-container clearfix">
                    <!--Logo-->
                    <div class="logo pull-left">
                        <a href="index.html" class="img-responsive">
                            <img src="~/layoutasset/images/logo-small.png" alt=""
                                 title="">
                        </a>
                    </div>
                    <!--Right Col-->
                    <div class="right-col pull-right">
                        <!-- Main Menu -->
                        <nav class="main-menu">
                            <div class="navbar-header">
                                <!-- Toggle Button -->
                                <button type="button" class="navbar-toggle" data-bs-toggle="collapse"
                                        data-bs-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="navbar-collapse collapse clearfix">
                                <ul class="navigation clearfix">
                                    <li class="current dropdown">
                                        <a asp-controller="Home" asp-action="Index">Home</a>

                                    </li>
                                    <li class="dropdown">
                                        <a asp-controller="Home" asp-action="About">About</a>

                                    </li>
                                    <li class="dropdown">
                                        <a asp-controller="Home" asp-action="About">Home</a>

                                    </li>
                                    <li class="dropdown">
                                        <a asp-controller="Home" asp-action="About">Home</a>

                                    </li>
                                    <li class="dropdown">
                                        <a asp-controller="Home" asp-action="About">Home</a>

                                    </li>
                                    <li class="dropdown">
                                        <a asp-controller="Home" asp-action="About">Home</a>

                                    </li>
                                    <li class="dropdown">
                                        <a asp-controller="Home" asp-action="About">Home</a>

                                    </li>
                                    <li class="dropdown">
                                        <a asp-controller="Home" asp-action="About">Home</a>

                                    </li>
                                    <li class="dropdown">
                                        <a asp-controller="Home" asp-action="About">Home</a>

                                    </li>
                                </ul>
                            </div>
                        </nav>
                        <!-- Main Menu End-->
                    </div>
                </div>
            </div>
            <!--End Sticky Header-->
          
        </header>



        <div>
            @RenderBody()
        </div>


        <footer class="main-footer">
            <div class="auto-container">
                <!--Widgets Section-->
                <div class="widgets-section">
                    <div class="row clearfix">
                        <!--big column-->
                        <div class="big-column col-md-6 col-sm-12 col-xs-12">
                            <div class="row clearfix">
                                <!--Footer Column-->
                                <div class="footer-column col-md-7 col-sm-6 col-xs-12">
                                    <div class="footer-widget logo-widget">
                                        <div class="logo">
                                            <a href="index.html"><img src="~/layoutasset/images/footer-logo.png" alt="" /></a>
                                        </div>
                                        <div class="text">
                                            This prodigiously grew tortoise charact stupidly pernicious
                                            jeepers along while accordingly under useful much salacious walking fars
                                            before some supp aesthetically wow shuddered.
                                        </div>
                                        <ul class="social-icon-two">
                                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                            <li><a href="#"><span class="fa fa-facebook-square"></span></a></li>
                                            <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                                            <li><a href="#"><span class="fa fa-youtube-play"></span></a></li>
                                            <li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!--Footer Column-->
                                <div class="footer-column col-md-5 col-sm-6 col-xs-12">
                                    <div class="footer-widget links-widget">
                                        <h2>Web Links</h2>
                                        <ul class="links">
                                            <li><a href="index.html">Home Page</a></li>
                                            <li><a href="about.html">About us</a></li>
                                            <li><a href="services.html">Our Services</a></li>
                                            <li><a href="blog.html">Our News</a></li>
                                            <li><a href="contact.html">Contact Us</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--big column-->
                        <div class="big-column col-md-6 col-sm-12 col-xs-12">
                            <div class="row clearfix">
                                <!--Footer Column-->
                                <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                                    <div class="footer-widget info-widget">
                                        <h2>Get In Touch</h2>
                                        <ul>
                                            <li>
                                                <span class="icon fa fa-map-marker"></span>32 BellSouth, Harley Street
                                                <br> Florida 33968
                                            </li>
                                            <li>
                                                <span class="icon fa fa-phone"></span>
                                                <a href="tel:+12345678900">+(1) 234 567 8900 </a>
                                            </li>
                                            <li>
                                                <span class="icon fa fa-envelope"></span>
                                                <a href="mailto:support@pawrex.com"> support@pawrex.com </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!--Footer Column-->
                                <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                                    <div class="footer-widget subscribe-widget">
                                        <h2>Subsrribe to RSS</h2>
                                        <div class="text">
                                            One jeepers along while do accord under useful much darn.
                                        </div>
                                        <div class="subscribe-form">
                                            <form method="post" action="https://www.shmai.com/preview/pawrex-html/contact.html">
                                                <div class="form-group">
                                                    <input type="email" name="email" value="" placeholder="Email"
                                                           required="">
                                                </div>
                                                <div class="form-group">
                                                    <button type="submit" class="theme-btn btn-style-four">
                                                        subscribe
                                                        now
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="copyright">Copyrights 2021 <span>PAWREX</span> • All Rights Reserved.</div>
                </div>
            </div>
        </footer>
        <!--End Main Footer-->
    </div>
    <!--End pagewrapper-->
    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-bs-target="html"><span class="icon flaticon-pawprint-1"></span></div>
    <!-- Color Palate / Color Switcher -->
    <div class="color-palate">
        <div class="color-trigger">
            <i class="flaticon-pawprint-1"></i>
        </div>
        <div class="color-palate-head">
            <h6>Choose Your Color</h6>
        </div>
        <div class="various-color clearfix">
            <div class="colors-list">
                <span class="palate default-color active" data-theme-file="~/layoutasset/css/color-themes/default-theme.css"></span>
                <span class="palate green-color" data-theme-file="~/layoutasset/css/color-themes/green-theme.css"></span>
                <span class="palate blue-color" data-theme-file="~/layoutasset/css/color-themes/blue-theme.css"></span>
                <span class="palate orange-color" data-theme-file="~/layoutasset/css/color-themes/orange-theme.css"></span>
                <span class="palate purple-color" data-theme-file="~/layoutasset/css/color-themes/purple-theme.css"></span>
                <span class="palate teal-color" data-theme-file="~/layoutasset/css/color-themes/teal-theme.css"></span>
                <span class="palate brown-color" data-theme-file="~/layoutasset/css/color-themes/brown-theme.css"></span>
                <span class="palate redd-color" data-theme-file="~/layoutasset/css/color-themes/redd-color.css"></span>
            </div>
        </div>
        <a href="#" class="purchase-btn">Purchase now $17</a>
        <div class="palate-foo">
            <span>
                You will find much more options for colors and styling in admin panel. This color picker is used only
                for demonstation purposes.
            </span>
        </div>
    </div>
    <script src="~/layoutasset/js/jquery.js"></script>
    <!--Revolution Slider-->
    <script src="~/layoutasset/plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/layoutasset/plugins/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/layoutasset/plugins/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="~/layoutasset/plugins/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="~/layoutasset/plugins/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="~/layoutasset/plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="~/layoutasset/plugins/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="~/layoutasset/plugins/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="~/layoutasset/plugins/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="~/layoutasset/plugins/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="~/layoutasset/plugins/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script src="~/layoutasset/js/main-slider-script.js"></script>

    <script src="~/layoutasset/js/bootstrap.bundle.min.js"></script>
    <script src="~/layoutasset/js/jquery.fancybox.js"></script>
    <script src="~/layoutasset/js/owl.js"></script>
    <script src="~/layoutasset/js/jquery-ui.js"></script>
    <script src="~/layoutasset/js/wow.min.js"></script>
    <script src="~/layoutasset/js/appear.js"></script>
    <script src="~/layoutasset/js/gallery.js"></script>

    <script src="~/layoutasset/js/script.js"></script>
    <script src="~/layoutasset/js/color-settings.js"></script>
</body>


</html>