@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="crumb">
    <div class="container">
        <h1>
            About <span class="wow pulse" data-wow-delay="1s"> Pawrex </span>
        </h1>
        <div class="bg_tran">
            About PawreX
        </div>
        <p>
            <a href="index-5.html" title="Home">HOME</a>
            || <span>ABOUT</span>
        </p>
    </div>
</div>
<section class="about_us">
    <div class="container">
        <div class="heading text-center">
            <p class="wow fadeInUp">
                <span class="purple"><i class="fas fa-paw"></i> </span><span class="orange"><i class="fas fa-paw"></i> </span><span class="purple">
                    <i class="fas fa-paw"></i>
                </span>
            </p>
            <h2 class="wow fadeInDown">
                Welcome to <span class="wow pulse" data-wow-delay="1s"> Pawrex</span>
            </h2>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 odr_change">
                <div class="image">
                    <div class="an_image an_image_hz_ps_center an_image_anime_delay_300 an_image_anime_duration_1500 an_image_anime_style_ease_out_sine"
                         data-speed="1.2">
                        <div class="an_image_image" data-speed="1.2">
                            <div class="pt_image">
                                <span>
                                    <img src="~/layoutasset/images/home_5/pets.png" title="Pet"
                                         alt="Image of Pet">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="text">
                    <p>
                        Broadcast neglectful and poignantly well until and some listlessly amidst suc cessful
                        concentrically ably dachshund more
                        far but forwardly echidna outside tiger split thanks far vibrantly gosh hence pangolin
                        however notwithstanding leapt
                        untruthful gauchely yikes komodo dully more.
                    </p>
                    <p>
                        As abandoned winced this more far wow jeepers near more wow goodness so revealed much
                        along worm some grasshopper.
                    </p>
                    <ul>
                        <li>
                            <i class="orange fas fa-paw pr-2"></i> Abore et dolore magna aliqua ut enim veniam
                        </li>
                        <li>
                            <i class="orange fas fa-paw pr-2"></i> Quis nostrud exercitation ullamco laboris
                            nisi
                            aliquip
                        </li>
                        <li><i class="orange fas fa-paw pr-2"></i> Eiusmod tempor incididunt labore.</li>
                    </ul>
                    <div class="button">
                        <a href="#" class="btn main" title="Services">
                            More Services <i class="fas fa-paw"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <section class="service">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="icon orange">
                            <div class="svg-icon" id="svg-4" data-svg-icon="~/layoutasset/images/home_5/svg/pet_heal.svg">
                            </div>
                        </div>
                        <div class="context">
                            <h5 class="orange">
                                We Heal Pets
                            </h5>
                            <p>
                                Quick Veterinary Services
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="icon yellow">
                            <div class="svg-icon" id="svg-5" data-svg-icon="~/layoutasset/images/home_5/svg/pet_shelter.svg">
                            </div>
                        </div>
                        <div class="context">
                            <h5 class="yellow">
                                We Care Pets
                            </h5>
                            <p>
                                Pet Sheltering & Adoption
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="icon purple">
                            <div class="svg-icon" id="svg-6" data-svg-icon="~/layoutasset/images/home_5/svg/pet_donation.svg">
                            </div>
                        </div>
                        <div class="context">
                            <h5 class="purple">
                                We Love Pets
                            </h5>
                            <p>
                                Show Love & Donate Us
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

<section class="team">
    <div class="container">
        <div class="heading text-center">
            <p class="wow fadeInUp">
                <span class="purple"><i class="fas fa-paw"></i> </span><span class="orange"><i class="fas fa-paw"></i> </span><span class="purple">
                    <i class="fas fa-paw"></i>
                </span>
            </p>
            <h2 class="wow fadeInDown">
                Our Team <span class="wow pulse" data-wow-delay="1s">
                    Members
                </span>
            </h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="member">
                    <div class="image">
                        <img src="~/layoutasset/images/home_5/team-1.png" alt="image of client" title="client"
                             class="img-fluid customer">
                    </div>
                    <div class="content">
                        <div class="name wow fadeInDown">
                            <a href="team-profile.html" title="Lucy Anderson">Lucy Anderson</a>
                        </div>
                        <p class="wow fadeInUp">
                            FOUNDER
                        </p>
                        <p>
                            <a href="#" title="facebook"><i class="fas fa-facebook"></i></a>
                            <a href="#" title="twitter"><i class="fas fa-twitter"></i></a>
                            <a href="#" title="instagram"><i class="fas fa-instagram"></i></a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="member">
                    <div class="image">
                        <img src="~/layoutasset/images/home_5/team-2.png" alt="image of client" title="client"
                             class="img-fluid customer">
                    </div>
                    <div class="content">
                        <div class="name wow fadeInDown">
                            <a href="team-profile.html" title="Alison White">Alison White</a>
                        </div>
                        <p class="wow fadeInUp">
                            PET LOVER
                        </p>
                        <p>
                            <a href="#" title="facebook"><i class="fas fa-facebook"></i></a>
                            <a href="#" title="twitter"><i class="fas fa-twitter"></i></a>
                            <a href="#" title="instagram"><i class="fas fa-instagram"></i></a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="member">
                    <div class="image">
                        <img src="~/layoutasset/images/home_5/team-3.png" alt="image of client" title="client"
                             class="img-fluid customer">
                    </div>
                    <div class="content">
                        <div class="name wow fadeInDown">
                            <a href="team-profile.html" title="Sara Thomas">Sara Thomas</a>
                        </div>
                        <p class="wow fadeInUp">
                            PET ADOPTER
                        </p>
                        <p>
                            <a href="#" title="facebook"><i class="fas fa-facebook"></i></a>
                            <a href="#" title="twitter"><i class="fas fa-twitter"></i></a>
                            <a href="#" title="instagram"><i class="fas fa-instagram"></i></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="method">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-md-12 col-sm-12">
                <div class="text">
                    <div class="counter-portion">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="box borded">
                                    <div class="icon">
                                        <span class="icon flaticon-easter-bunny"></span>
                                    </div>
                                    <div class="num">
                                        <span class="counting-value">1500</span>
                                        <span>+</span>
                                    </div>
                                    <div class="description">PET BORDED</div>
                                </div>
                                <div class="box happy">
                                    <div class="icon">
                                        <span class="icon flaticon-brush"></span>
                                    </div>
                                    <div class="num">
                                        <span class="counting-value">900</span>
                                        <span>+</span>
                                    </div>
                                    <div class="description">HAPPY CLIENTS</div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="box project">
                                    <div class="icon">
                                        <span class="icon flaticon-money-bag"></span>
                                    </div>
                                    <div class="num">
                                        <span class="counting-value">500</span>
                                        <span>+</span>
                                    </div>
                                    <div class="description">PROJECT DONE</div>
                                </div>
                                <div class="box event">
                                    <div class="icon">
                                        <span class="icon flaticon-award"></span>
                                    </div>
                                    <div class="num">
                                        <span class="counting-value">300</span>
                                        <span>+</span>
                                    </div>
                                    <div class="description">EVENT DONE</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-md-12 col-sm-12">
                <div class="house floated">
                    <div class="an_image an_image_hz_ps_left an_image_vt_ps_middle an_image_anime_delay_300 an_image_anime_duration_1500 an_image_anime_style_ease_out_sine"
                         data-speed="1.2">
                        <div class="an_image_image" data-speed="1.2">
                            <div class="pt_image">
                                <span>
                                    <img src="~/layoutasset/images/home_5/ball.png" title="Pet" alt="Image of Pet"
                                         class="ball">
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="images">
                            <div class="icon">
                                <div class="svg-icon back" id="svg-9"
                                     data-svg-icon="~/layoutasset/images/home_5/svg/blob (3).svg">
                                </div>
                            </div>
                            <img src="~/layoutasset/images/home_5/animal.png" alt="Image of Animal" title="Animal"
                                 class="img-fluid" id="animal">
                            <img src="~/layoutasset/images/home_5/dots.png" alt="" class="dots rotate">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="new_custom">
    <div class="container">
        <div class="heading text-center">
            <p class="wow fadeInUp">
                <span class="purple"><i class="fas fa-paw"></i> </span><span class="orange"><i class="fas fa-paw"></i> </span><span class="purple">
                    <i class="fas fa-paw"></i>
                </span>
            </p>
            <h2 class="wow fadeInDown">
                Read <span class="wow pulse" data-wow-delay="1s">
                    Testimonials
                </span>
            </h2>
        </div>
        <div class="owl-carousel">
            <div class="item">
                <div class="testimon">
                    <div class="image">
                        <img src="~/layoutasset/images/home_5/customer-1.png" alt="image of client" title="client"
                             class="img-fluid customer">
                        <img src="~/layoutasset/images/home_5/cta-2-dot-1.png" alt="Image of Dot" title="Dot"
                             class="img-fluid dots">
                    </div>
                    <div class="content">
                        <h3 class="wow fadeInDown">Jessica Johnson</h3>
                        <span class="open">❝</span>
                        <p class="wow fadeInUp">
                            My boxer is spoiled rotten and needs a lot of human interaction which he always
                            receives. PAWREX is the best!!
                        </p>
                        <span class="close">❞</span>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testimon">
                    <div class="image">
                        <img src="~/layoutasset/images/home_5/customer-2.png" alt="image of client" title="client"
                             class="img-fluid customer">
                        <img src="~/layoutasset/images/home_5/cta-2-dot-1.png" alt="Image of Dot" title="Dot"
                             class="img-fluid dots">
                    </div>
                    <div class="content">
                        <h3>Alina Clark</h3>
                        <span class="open">❝</span>
                        <p>
                            Just wanted to let you know how blessed I have been to have you guys care for me
                            over the past few years.
                        </p>
                        <span class="close">❞</span>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testimon">
                    <div class="image">
                        <img src="~/layoutasset/images/home_5/customer-3.png" alt="image of client" title="client"
                             class="img-fluid customer">
                        <img src="~/layoutasset/images/home_5/cta-2-dot-1.png" alt="Image of Dot" title="Dot"
                             class="img-fluid dots">
                    </div>
                    <div class="content">
                        <h3>Alison Bella</h3>
                        <span class="open">❝</span>
                        <p>
                            We love bring Lexi to PAWREX! The staff is always so friendly and it’s so
                            convenient for our busy schedules!
                        </p>
                        <span class="close">❞</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="an_image an_image_hz_ps_right an_image_vt_ps_middle an_image_anime_delay_300 an_image_anime_duration_1500 an_image_anime_style_ease_out_sine"
             data-speed="1.2">
            <div class="an_image_image" data-speed="1.2">
                <div class="pt_image">
                    <span>
                        <img src="~/layoutasset/images/home_5/frisbee.png" title="Frisbee" alt="Image of Frisbee"
                             class="frisbee">
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>